* {
padding:1px ;
margin:1px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* this is the welcome css photo  */
.welcome_photos{
position: relative;
left: -380px;
width: 2000px;
background-color: cyan;

}
.wd{
border-radius: 30px;
up:700px;
position: relative;
left:660px;


/*this is for the black one */
}
.what{
background-color:black

}

#bt1{
    
border:none;
position: relative;
bottom: 20px;
background-color: cyan;
color:cyan;
border-radius: 50px;

}
#bt1:hover{
transition: 100ms;
background-color:red;
color:white;

}
h2{
color: white;
text-align: center;

}

.nany {
text-align: center;
color: white;


}


.wd1{
background-color: black;
border-radius: 30px;
position: relative;
left: 289px;


    

}


/* this is for all the buttons     */
button{
text-align: center;

}

.bt2{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt2:hover{

    transition: 100ms;
    background-color:red;
    color:white;

}


.bt2{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt2:hover{

    transition: 100ms;
    background-color:red;
    color:white;

}
.bt3{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt3:hover{

    transition: 100ms;
    background-color:purple;
    color:white;

}
.bt4{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt4:hover{

    transition: 100ms;
    background-color:brown;
    color:white;

}




.bt5{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt5:hover{

    transition: 100ms;
    background-color:green;
    color:white;

}