* {
padding:0px ;
margin-bottom:0px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





/* this is the welcome css photo  */
body{
margin-bottom:0px;




}
.welcome_photos{
position: relative;
width: 100%;
background-color: cyan;

}
.wd{
border-radius: 30px;
position: relative;
left:750px;


/*this is for the black one */
}
.what{
background-color:black;


}

#bt1{
display: none;    
border:none;
position: relative;
right:90px;
bottom: 20px;
background-color: cyan;
color:cyan;
border-radius: 50px;

}
#bt1:hover{
transition: 100ms;
background-color:red;
color:white;

}
h2{
color: white;
text-align: center;

}

.nany {
text-align: center;
color: white;


}


.wd1{
background-color: black;
border-radius: 30px;
position: relative;
left: 370px;


    

}


/* this is for all the buttons     */
button{
text-align: center;

}

.bt2{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt2:hover{

    transition: 100ms;
    background-color:red;
    color:white;

}


.bt2{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt2:hover{

    transition: 100ms;
    background-color:black;
    color:white;

}
.bt3{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt3:hover{

    transition: 100ms;
    background-color:purple;
    color:white;

}
.bt4{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt4:hover{

    transition: 100ms;
    background-color:brown;
    color:white;

}




.bt5{
    border:none;
    background-color: white;
    color:blue;
    border-radius: 10px;
    

}
.bt5:hover{

    transition: 100ms;
    background-color:green;
    color:white;

}



.button-49,
.button-49:after {
  
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



@media only screen and  (min-width:412px){
  p{
    font-size: 18px;


  }

/* this is the welcome css photo  */
.welcome_photos{
  align-items:center;
  text-align: center;
  justify-content: center;
  position:relative;
  left:auto;
 width: 100%;
background-color: cyan;
  
}
.wd{

width:350px;
border-radius: 30px;
position: relative;
right:20px;

  
  
  /*this is for the black one */
  }
  .what{
font-size: 18px;
  text-align:center;
  background-color:black;
  width:100%;
  position: relative;
  right: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

.wd1{
  justify-content: center;
    width:270px;
    background-color: black;
    border-radius: 30px;
    position: relative;
    left:auto;
    margin-bottom:27px;
  }
  #bt1{
  display: none;    
  border:none;
  position: relative;
  left:400px;
  bottom: 20px;
  background-color: cyan;
  color:cyan;
  border-radius: 50px;
  
  }
  #bt1:hover{
  transition: 100ms;
  background-color:red;
  color:white;
  
  }
  h2{
  color: white;
  text-align: center;
  
  }
  
  .nany {
  text-align: center;
  color: white;
  
  
  }
  
  
  
  
  
  /* this is for all the buttons     */
  button{
  text-align: center;
  
  }
  
  .bt2{
      border:none;
      background-color: white;
      color:blue;
      border-radius: 10px;
      
  
  }
  .bt2:hover{
  
      transition: 100ms;
      background-color:red;
      color:white;
  
  }
  
  
  .bt2{
      border:none;
      background-color: white;
      color:blue;
      border-radius: 10px;
      
  
  }
  .bt2:hover{
  
      transition: 100ms;
      background-color:red;
      color:white;
  
  }
  .bt3{
      border:none;
      background-color: white;
      color:blue;
      border-radius: 10px;
      
  
  }
  .bt3:hover{
  
      transition: 100ms;
      background-color:purple;
      color:white;
  
  }
  .bt4{
      border:none;
      background-color: white;
      color:blue;
      border-radius: 10px;
      
  
  }
  .bt4:hover{
  
      transition: 100ms;
      background-color:brown;
      color:white;
  
  }
  
  
  
  
  .bt5{
      border:none;
      background-color: white;
      color:blue;
      border-radius: 10px;
      
  
  }
  .bt5:hover{
  
      transition: 100ms;
      background-color:green;
      color:white;
  
  }
  
  
  
  .button-49,
  .button-49:after {
    
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  
  @media (min-width: 768px) {
    .button-49,
    .button-49:after {
      margin: 65px;
      width: 160px;
      height: 86px;
      line-height: 100px;
    }
  }




}


@media only screen and (min-width:1366px){


  .welcome_photos{
    position:relative;
    right:9px;
   width: 100%;
  background-color: cyan;
    
    }
    .wd{
    text-align:center;
    width:360px;
    border-radius: 30px;
    position: relative;
    left:510px;
  
    
    
    /*this is for the black box one */
    }
    .what{
    margin-top: 3px;
    margin-bottom: 0px;
    margin:3px;
    padding:10px;
    font-size: 16px;
    text-align:center;
    background-color:black;
    width:100%;
    margin-bottom:0px;
    position: relative;
    left: -11px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  /*this one is the photo itself */
  .wd1{
      width:270px;
      background-color: black;
      border-radius: 30px;
      position: relative;
      left: 0px;
    }
    #bt1{
    display: none;    
    border:none;
    position: relative;
    left:400px;
    bottom: 20px;
    background-color: cyan;
    color:cyan;
    border-radius: 50px;
    
    }
    #bt1:hover{
    transition: 100ms;
    background-color:red;
    color:white;
    
    }
    h2{
    color: white;
    text-align: center;
    
    }
    
    .nany {
    text-align: center;
    color: white;
    
    
    }
    
    
    
    
    
    /* this is for all the buttons     */
    button{
    text-align: center;
    
    }
    
    .bt2{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt2:hover{
    
        transition: 100ms;
        background-color:red;
        color:white;
    
    }
    
    
    .bt2{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt2:hover{
    
        transition: 100ms;
        background-color:red;
        color:white;
    
    }
    .bt3{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt3:hover{
    
        transition: 100ms;
        background-color:purple;
        color:white;
    
    }
    .bt4{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt4:hover{
    
        transition: 100ms;
        background-color:brown;
        color:white;
    
    }
    
    
    
    
    .bt5{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt5:hover{
    
        transition: 100ms;
        background-color:green;
        color:white;
    
    }
    
    
    
    .button-49,
    .button-49:after {
      
      width: 150px;
      height: 76px;
      line-height: 78px;
      font-size: 20px;
      font-family: 'Bebas Neue', sans-serif;
      background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
      border: 0;
      color: #fff;
      letter-spacing: 3px;
      box-shadow: 6px 0px 0px #00E6F6;
      outline: transparent;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-49:after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -6px 0 0);
      --slice-2: inset(50% -6px 30% 0);
      --slice-3: inset(10% -6px 85% 0);
      --slice-4: inset(40% -6px 43% 0);
      --slice-5: inset(80% -6px 5% 0);
      
      content: 'ALTERNATE TEXT';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
      text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
      clip-path: var(--slice-0);
    }
    
    .button-49:hover:after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end);
    }
    
    @keyframes glitch {
      0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
      }
      10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
      }
      20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
      }
      30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
      }
      40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
      }
      50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
      }
      60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
      }
      70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
      }
      80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
      }
      90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
      }
      100% {
        clip-path: var(--slice-1);
        transform: translate(0);
      }
    }
    
    @media (min-width: 360px) {
      .button-49,
      .button-49:after {
        margin: 65px;
        width: 200px;
        height: 86px;
        line-height: 100px;
      }
    }


  
}


@media only screen and (min-width:360px){

  .welcome_photos{
    position:relative;
    right:0px;
   width: 100%;
  background-color: cyan;
    
    }
    .wd{
    text-align:center;
    width:310px;
    border-radius: 30px;
    position: relative;
    left:20px;
  
    
    
    /*this is for the black box one */
    }
    .what{
    margin-top: 3px;
    margin-bottom: 0px;
    margin:3px;
    padding:10px;
    font-size: 16px;
    text-align:center;
    background-color:black;
    width:100%;
    margin-bottom:0px;
    position: relative;
    left: -11px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  /*this one is the photo itself */
  .wd1{
      width:270px;
      background-color: black;
      border-radius: 30px;
      position: relative;
      left: 0px;
    }
    #bt1{
    display: none;    
    border:none;
    position: relative;
    left:400px;
    bottom: 20px;
    background-color: cyan;
    color:cyan;
    border-radius: 50px;
    
    }
    #bt1:hover{
    transition: 100ms;
    background-color:red;
    color:white;
    
    }
    h2{
    color: white;
    text-align: center;
    
    }
    
    .nany {
    text-align: center;
    color: white;
    
    
    }
    
    
    
    
    
    /* this is for all the buttons     */
    button{
    text-align: center;
    
    }
    
    .bt2{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt2:hover{
    
        transition: 100ms;
        background-color:red;
        color:white;
    
    }
    
    
    .bt2{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt2:hover{
    
        transition: 100ms;
        background-color:red;
        color:white;
    
    }
    .bt3{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt3:hover{
    
        transition: 100ms;
        background-color:purple;
        color:white;
    
    }
    .bt4{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt4:hover{
    
        transition: 100ms;
        background-color:brown;
        color:white;
    
    }
    
    
    
    
    .bt5{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt5:hover{
    
        transition: 100ms;
        background-color:green;
        color:white;
    
    }
    
    
    
    .button-49,
    .button-49:after {
      
      width: 150px;
      height: 76px;
      line-height: 78px;
      font-size: 20px;
      font-family: 'Bebas Neue', sans-serif;
      background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
      border: 0;
      color: #fff;
      letter-spacing: 3px;
      box-shadow: 6px 0px 0px #00E6F6;
      outline: transparent;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-49:after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -6px 0 0);
      --slice-2: inset(50% -6px 30% 0);
      --slice-3: inset(10% -6px 85% 0);
      --slice-4: inset(40% -6px 43% 0);
      --slice-5: inset(80% -6px 5% 0);
      
      content: 'ALTERNATE TEXT';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
      text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
      clip-path: var(--slice-0);
    }
    
    .button-49:hover:after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end);
    }
    
    @keyframes glitch {
      0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
      }
      10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
      }
      20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
      }
      30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
      }
      40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
      }
      50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
      }
      60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
      }
      70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
      }
      80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
      }
      90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
      }
      100% {
        clip-path: var(--slice-1);
        transform: translate(0);
      }
    }
    
    @media (min-width: 360px) {
      .button-49,
      .button-49:after {
        margin: 65px;
        width: 200px;
        height: 86px;
        line-height: 100px;
      }
    }





}





@media only screen and (min-width:320)  {

  .welcome_photos{
    position:relative;
    right:0px;
   width: 100%;
  background-color: cyan;
    
    }
    .wd{
    text-align:center;
    width:310px;
    border-radius: 30px;
    position: relative;
    right:2px;
  
    
    
    /*this is for the black box one */
    }
    .what{
    margin-top: 3px;
    margin-bottom: 0px;
    margin:3px;
    padding:10px;
    font-size: 16px;
    text-align:center;
    background-color:black;
    width:100%;
    margin-bottom:0px;
    position: relative;
    left: -11px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  /*this one is the photo itself */
  .wd1{
      width:270px;
      background-color: black;
      border-radius: 30px;
      position: relative;
      left: 0px;
    }
    #bt1{
    display: none;    
    border:none;
    position: relative;
    left:400px;
    bottom: 20px;
    background-color: cyan;
    color:cyan;
    border-radius: 50px;
    
    }
    #bt1:hover{
    transition: 100ms;
    background-color:red;
    color:white;
    
    }
    h2{
    color: white;
    text-align: center;
    
    }
    
    .nany {
    text-align: center;
    color: white;
    
    
    }
    
    
    
    
    
    /* this is for all the buttons     */
    button{
    text-align: center;
    
    }
    
    .bt2{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt2:hover{
    
        transition: 100ms;
        background-color:red;
        color:white;
    
    }
    
    
    .bt2{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt2:hover{
    
        transition: 100ms;
        background-color:red;
        color:white;
    
    }
    .bt3{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt3:hover{
    
        transition: 100ms;
        background-color:purple;
        color:white;
    
    }
    .bt4{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt4:hover{
    
        transition: 100ms;
        background-color:brown;
        color:white;
    
    }
    
    
    
    
    .bt5{
        border:none;
        background-color: white;
        color:blue;
        border-radius: 10px;
        
    
    }
    .bt5:hover{
    
        transition: 100ms;
        background-color:green;
        color:white;
    
    }
    
    
    
    .button-49,
    .button-49:after {
      
      width: 150px;
      height: 76px;
      line-height: 78px;
      font-size: 20px;
      font-family: 'Bebas Neue', sans-serif;
      background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
      border: 0;
      color: #fff;
      letter-spacing: 3px;
      box-shadow: 6px 0px 0px #00E6F6;
      outline: transparent;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-49:after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -6px 0 0);
      --slice-2: inset(50% -6px 30% 0);
      --slice-3: inset(10% -6px 85% 0);
      --slice-4: inset(40% -6px 43% 0);
      --slice-5: inset(80% -6px 5% 0);
      
      content: 'ALTERNATE TEXT';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
      text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
      clip-path: var(--slice-0);
    }
    
    .button-49:hover:after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end);
    }
    
    @keyframes glitch {
      0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
      }
      10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
      }
      20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
      }
      30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
      }
      40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
      }
      50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
      }
      60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
      }
      70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
      }
      80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
      }
      90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
      }
      100% {
        clip-path: var(--slice-1);
        transform: translate(0);
      }
    }
    
    @media (min-width: 360px) {
      .button-49,
      .button-49:after {
        margin: 65px;
        width: 200px;
        height: 86px;
        line-height: 100px;
      }
    }







  
}






